:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: aqua;
}

.nav {
  background-color: red;
  height: 57px;
  width: 100%;
  margin-top: 0%;
}

.main {
  background-color: yellow;
  width: 100%;

}

.footer {
  background-color: white;
  margin-bottom: 0%;
}